/**************** Themenbaum ****************/
ul#tree {
    border: none;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    padding: 0px 0;
    min-width:  380px;
}

ul#tree .glyphicon {
    cursor: pointer;
    font-size: 15px;
    padding-right: 5px;
    top: 3px;
}

ul#tree .glyphicon-cog {
    font-size: 18px;
    padding: 0;
}

ul#tree .glyphicon-info-sign {
    font-size: 18px;
    padding-right: 6px;
}

.LayerListMaxHeight {
    max-height: calc(100vH - 177px);
}

/* ----------------------Themenbaum light -----------------------------*/
ul#tree.light {
    font-size: 12px;
    color: rgb(85, 85, 85);
}

ul#tree.light li {
    /*border-bottom: 1px solid #ddd;*/
    border-left: 0;
    border-right: 0;
    padding: 8px 6px;
    max-width: 500px;
    min-width: 380px;
    overflow: auto;
    font-weight: normal;
}

ul#tree.light li span.title {
    vertical-align: sub;
    cursor:pointer;
}

/*Haupt Themenliste */

ul#tree .closed:not(.SelectedLayer ){
    border-bottom: 1px solid #ddd;
}

/*Unterlisten*/
ul#tree ul {
    list-style: none;
    padding: 0 0 0 0px;
    -webkit-padding-start: 0px;
}

ul#tree .catalog_buttons .glyphicon {
    padding: 0px 0;
    cursor: pointer;
}

ul#tree .catalog_buttons .glyphicon-adjust {
    font-size: 14px
}

ul#tree ul .title {
    font-family: UniversNextW01-Regular,"Arial Narrow",Arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
}

ul#tree ul li {
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}
ul#tree .layer-catalog > .header {
    padding: 8px 5px 7px 5px;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

ul#tree .catalog-selection {
    font-size: 11px;
    font-weight: 400;
}

ul#tree .catalog-selection > select {
    height: 20px;
    padding: 0;
    font-size: 11px;
}

ul#tree .themen-folder {
    font-weight: 400;
}

ul#tree .rotate-adjust {
    transform: rotate(180deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#tree .rotate-adjust-back {
    transform: rotate(0deg);
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}

ul#tree .rotate-pin {
    transform: rotate(270deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}

ul#tree .rotate-pin-back {
    transform: rotate(360deg);
    transition: .5s;
    font-size: 14px;
    cursor: pointer;
}
ul#Overlayer .glyphicon-check, ul#Overlayer .glyphicon-check + .title {
    color: rgb(255, 127, 0);
}
ul#tree ul#SelectedLayer .glyphicon-check, ul#tree ul#SelectedLayer .glyphicon-check + .title {
    /*color: rgb(85, 85, 85);*/
}
/*-------------------Selection/Settings----------------------*/
ul#tree ul{
   overflow-y: auto;
   overflow-x: auto;
    max-width:  500px;
}

ul#tree #SelectedLayer li {
    overflow: auto;
    padding: 8px 6px;
}

ul#tree .SelectedLayer .layer-selection-save {
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
}

.dropdown-folder .glyphicon {
    font-size: 12px;
}
