.footer {
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
    bottom: 0;
    color: rgb(85, 85, 85);
    position: absolute;
    box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.176);
    font-size: 10px;
    padding: 4px 10px;
    width: 100%;
}

.footer > .glyphicon-option-vertical {
    padding: 0 8px;
    font-size: 12px;
}
