<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content layerinformation-modal">
        <div class="modal-header">
            <p class="buttons pull-right">
                <span class="glyphicon glyphicon-remove" title="Schließen"></span>
            </p>
            <p class="title">
                <span>Informationen und Legende</span>
            </p>
        </div>
        <div class="modal-body">
            <h4 class="subtitle"><%= title %></h4>
            <p class="abstract"><%= abstractText %></p>

            <% _.each(metaURL, function (url) { %>
                <br>
                <p class="metalink"><a href="<%= url %>" target="_blank">weitere Metadaten</a></p>
            <% }); %>

            <% if (date !== null) { %>
                <p>Stand der Daten: <%= date %></p>
            <% } %>

            <% if (_.isObject(legendURL) === true) {
            %>
            <hr>
            <h4 class="subtitle">Legende</h4>
            <p>
               <%
                  if (legendURL.typ === "WFS") {
                  %>
                    <table>
                    <%
                    _.each(legendURL.img, function (image, index2) {
                    %>
                        <tr>
                           <td class="tdLegend">
                               <img src="<%= image %>">
                           </td>
                           <td class="tdLegend">
                               <span><%= legendURL.legendname[index2] %></span>
                           </td>
                       </tr>
                    <%
                    });
                    %>
                    </table>

                    <%
                  }
                  else if (legendURL.typ === "styleWMS") { %>

                        <table>
                      <%
                         _.each(legendURL.params, function(param){
                       %>
                            <tr>
                                <td><div class="styleWMS" style="background-color:<%=param.color%>"></div></td>
                                <td><%=param.startRange%> - <%=param.stopRange%></td>
                            </tr>
                       <%
                       });
                       %>
                        </table>
                    <%
                  }
                  else {
                    if (typeof legendURL.img === "string") {
                        if (legendURL.img.search(".pdf") !== -1) {
                       %>
                            <a href=<%= legendURL.img %> target="_blank">weitere Informationen</a>
                        <%
                        } else {
                        %>
                            <p>
                                <img src=<%= legendURL.img %>>
                            </p>
                        <%
                        }
                    }
                    else {
                        if (legendURL.img.length > 1 ) {
                        _.each(legendURL.img, function (image) {
                        %>
                            <p>
                                <img src=<%= image %>>
                            </p>
                    <%
                       });}else { %>
                        <p>
                            <img src=<%= legendURL.img[0] %>>
                        </p>
            <% }}}} %>
            </p>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
